<div class="sticky-top">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">  
    <a class="navbar-brand" href="#">My Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Some Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Docs</a>
        </li>
        
      </ul>
      <ul class="navbar-nav mr-sm-5 px-5">
      <li class="nav-item dropdown my-lg-0 mr-sm-5">
          {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username }}
          </a>
        <div class="dropdown-menu mr-sm-5" aria-labelledby="navbarDropdown">
                <a class="dropdown-item mr-sm-5" href="#">All Datasets</a>
                <a class="dropdown-item mr-sm-5" href="">My Datasets</a>
                <a class="dropdown-item mr-sm-5" href="">Profile</a>
                <a class="dropdown-item mr-sm-5" href="">Logout</a>
        </div>        
        </li>
            {% else %}
            <li class="nav-item mr-sm-2">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item mr-sm-5">
                <a class="nav-link" href="#">Register</a>
            </li>
              {% endif %}
      </ul>     
    </div>
 
</nav>
</div>